@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,600;1,100;1,200&family=Saira+Condensed:wght@100;200;300;400&display=swap');

:root {
    --green: #f60761;
    --lead: #f60761;
    --verde: #40992e;
    --gris: rgba(49, 49, 49, 0.685);
    --grisos: rgba(15, 15, 15, 0.685);
    --orange: #db5019;
    --rojo: #b60c0c;
    --aqua: #1591caf1;
    --rosa: #d829a4;
    --blue: #f60761;
    --violet: #f60761;
    --text-white: hsl(0, 0%, 100%);
    --text-light-gray: hsl(0, 0%, 90%);
    --body-bg-color: hsl(203, 67%, 2%);
    --glass-bg-color: hsl(0, 0%, 100%, 0.5);
    --border-color: hsl(0, 0%, 100%, 0.25);
    --blur: blur(10px);
    --botton-hover-color: hsla(0, 0%, 0%, 0.3);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--body-bg-color);
    color: var(--text-light-gray);
    font-weight: 300;
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;

}

#particles-js {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}

/* body::after, */
body::before {
    content: '';
    position: fixed;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    z-index: 1;
    filter: blur(150px);
    opacity: 0.5;
}

body::before {
    background-color: var(--blue);
    left: 0;
    bottom: 0;
    transform: translate(-50%);
}

body::after {
    background-color: var(--violet);
    right: 0;
    top: 0;
    transform: translate(50%);
}

a {
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
}

.gradient-text {
    background: linear-gradient(to right, var(--green), var(--violet));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

}

.form-main {
    min-height: 100vh;
    padding: 60px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    z-index: 99;
}

.camilo {
    display: block;
}

.camiloOcultar {
    display: none;
}

.form-content {
    width: 100%;
    max-width: 80%;
    position: relative;
    z-index: 1;
    align-items: center;
    align-content: center;
    text-align: center;
}

/**.form-content .circle-1,
.form-content .circle-2,
.form-content .circle-3 {
    position: absolute;
    background: linear-gradient(to right, var(--blue), var(--violet));
    border-radius: 50%;
    z-index:-1;
    
} ***/


.form-content .box {
    border-color: var(--glass-bg-color);
    border: 1px solid var(--border-color);
    padding: 40px 50px;
    border-radius: 20px;
    backdrop-filter: var(--blur);

}






.form-content .box video {
    display: block;
    height: 35vh;
    width: 100%;
    background-color: transparent;
    border: none;
    color: inherit;
    display: flex;

}



.form-content h3 {
    font-size: 20px;
    text-align: center;
    line-height: 1.2;
    color: var(--text-white);
    font: 500;
}

.form-content form {
    margin: 25px 0 20px;

}

.form-content .input-box {
    margin-bottom: 25x;

}

.form-content ::placeholder {
    color: inherit;
    opacity: 0;
}

.form-content .input-control {
    display: block;
    height: 45px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--border-color);
    color: inherit;
    font-weight: inherit;
    font-family: inherit;
    font-size: 16px;



}

.code {
    display: block;
    height: 45px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--border-color);
    color: inherit;
    font-weight: inherit;
    font-family: inherit;
    font-size: 16px;
    text-align: center;

}

.form-content .input-control:focus {
    outline: none;

}

.form-content .input-link {
    margin-top: 10px;
    text-align: right;

}

.form-content .btn {
    height: 45px;
    width: 40%;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: inherit;
    cursor: pointer;
    border-radius: 25px;
    margin-left: 30%;
    user-select: none;
    background: linear-gradient(to right, var(--green), var(--violet));
    border: none;
    color: var(--text-white);
    position: relative;
    z-index: 1;
    overflow: hidden;

}

.form-content .btn2 {
    height: 30px;
    width: 40%;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: inherit;
    cursor: pointer;
    border-radius: 25px;
    margin-left: 30%;
    user-select: none;
    background: linear-gradient(to right, var(--blue), var(--blue));
    border: none;
    color: var(--text-white);
    position: relative;
    z-index: 1;
    overflow: hidden;

}

.form-content .btn3 {
    height: 30px;
    width: 40%;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: inherit;
    cursor: pointer;
    border-radius: 25px;
    margin-left: 30%;
    user-select: none;
    background: linear-gradient(to right, var(--verde), var(--verde));
    border: none;
    color: var(--text-white);
    position: relative;
    z-index: 1;
    overflow: hidden;

}

.form-content .btn4 {
    height: 30px;
    width: 40%;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: inherit;
    cursor: pointer;
    border-radius: 25px;
    margin-left: 30%;
    user-select: none;
    background: linear-gradient(to right, var(--orange), var(--orange));
    border: none;
    color: var(--text-white);
    position: relative;
    z-index: 1;
    overflow: hidden;

}

.form-content .btn5 {
    height: 30px;
    width: 40%;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: inherit;
    cursor: pointer;
    border-radius: 25px;
    margin-left: 30%;
    user-select: none;
    background: linear-gradient(to right, var(--rosa), var(--rosa));
    border: none;
    color: var(--text-white);
    position: relative;
    z-index: 1;
    overflow: hidden;

}

.form-content .btn6 {
    height: 30px;
    width: 40%;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: inherit;
    cursor: pointer;
    border-radius: 25px;
    margin-left: 30%;
    user-select: none;
    background: linear-gradient(to right, var(--rojo), var(--rojo));
    border: none;
    color: var(--text-white);
    position: relative;
    z-index: 1;
    overflow: hidden;

}

.form-content .btn7 {
    height: 30px;
    width: 40%;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: inherit;
    cursor: pointer;
    border-radius: 25px;
    margin-left: 30%;
    user-select: none;
    background: linear-gradient(to right, var(--aqua), var(--aqua));
    border: none;
    color: var(--text-white);
    position: relative;
    z-index: 1;
    overflow: hidden;

}


.form-content .btn a {

    color: var(--text-white);
}

.form-content .btn::before {

    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    transition: background-color 0.5s ease;
    z-index: -1;
}


.form-content .btn:hover::before {
    background-color: var(--button-hover-color);

}


.form-content p {
    text-align: center;
}


.card {
    box-shadow: 0 6px 10px 0 rgb(117, 117, 117);
    transition: 0.3s;
    display: flex;
    margin-left: 25%;
    width: 46%;
    border-radius: 10px;
    overflow: hidden;

}

.card2 {
    box-shadow: 0 4px 8px 0 rgb(10, 82, 236);
    transition: 0.3s;
    display: flex;
    margin-left: 3%;
    margin-top: 2%;
    width: 46%;
    overflow: hidden;
}

.card3 {
    box-shadow: 0 4px 8px 0 rgb(52, 207, 73);
    transition: 0.3s;
    display: flex;
    margin-left: 3%;
    margin-top: 2%;
    width: 46%;
    overflow: hidden;
}

.card4 {
    box-shadow: 0 4px 8px 0 rgb(228, 85, 18);
    transition: 0.3s;
    display: flex;
    margin-left: 3%;
    margin-top: 2%;
    width: 46%;
    overflow: hidden;
}

.card5 {
    box-shadow: 0 4px 8px 0 rgb(235, 22, 199);
    transition: 0.3s;
    display: flex;
    margin-left: 3%;
    margin-top: 2%;
    width: 46%;
    overflow: hidden;
}

.card6 {
    box-shadow: 0 4px 8px 0 rgb(235, 22, 22);
    transition: 0.3s;
    display: flex;
    margin-left: 3%;
    margin-top: 2%;
    width: 46%;
    overflow: hidden;
}

.card7 {
    box-shadow: 0 4px 8px 0 rgb(70, 175, 245);
    transition: 0.3s;
    display: flex;
    margin-left: 3%;
    margin-top: 2%;
    width: 46%;
    overflow: hidden;
}

.cardInversion {
    transition: 0.3s;
    display: block;
    overflow: hidden;
    border-radius: 10px;
    /* margin-left: 7%; */
    margin-top: 5%;
    padding: 1%;

}

.cardsInversion::-webkit-scrollbar {
    width: 12px;
                  /* width of the entire scrollbar */
  }
  
  .cardsInversion::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;         /* color of the tracking area */
  }
  
  .cardsInversion::-webkit-scrollbar-thumb {
    background-color: transparent;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: transparent;  /* creates padding around scroll thumb */
  }

  .cardsInversionCompras::-webkit-scrollbar {
    width: 12px;
                  /* width of the entire scrollbar */
  }
  
  .cardsInversion::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;         /* color of the tracking area */
  }
  
  .cardsInversion::-webkit-scrollbar-thumb {
    background-color: transparent;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: transparent;  /* creates padding around scroll thumb */
  }

.melocaramelo{

    scrollbar-width: thin;
    scrollbar-color: red;
}

.cardsInversion {

    overflow: auto;
    display: block;
    width: 500px ;
    height: 600px;
    padding: 1%;
    margin-left: 27%;
    /* position: relative; */

}

.imgCard {
    margin-left: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgb(121, 120, 119);
}

.card2:hover {
    box-shadow: 0 8px 16px 0 rgb(10, 82, 236);
}

.card3:hover {
    box-shadow: 0 8px 16px 0 rgb(52, 207, 73);
}

.card4:hover {
    box-shadow: 0 8px 16px 0 rgb(228, 85, 18);
}

.card5:hover {
    box-shadow: 0 8px 16px 0 rgb(235, 22, 199);
}

.card6:hover {
    box-shadow: 0 8px 16px 0 rgb(235, 22, 22);
}

.card7:hover {
    box-shadow: 0 8px 16px 0 rgb(70, 175, 245);
}


.containerCard {
    width: 100%;
    position: relative;
    padding: 2px 16px;
    margin-right: 100px;
}



.btnCamilo {
    height: 30px;
    width: 40%;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: inherit;
    cursor: pointer;
    border-radius: 25px;
    user-select: none;
    background: linear-gradient(to right, var(--gris), var(--gris));
    border: none;
    color: var(--text-white);
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.btnCamiloStake {
    height: 30px;
    width: 40%;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: inherit;
    cursor: pointer;
    border-radius: 25px;
    user-select: none;
    background: linear-gradient(to right, var(--green), var(--green));
    border: none;
    color: black;
    font-weight: bold;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.btnCrearStake {
    height: 30px;
    width: 20%;
    font-size: 13px;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    user-select: none;
    background: linear-gradient(to right, var(--green), var(--green));
    border: none;
    color: rgb(17, 17, 17);
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.correrBtn {
    margin-left: auto;
    padding: 1%;
}

.usdt {
    background-color: green;
    width: 25%;
    margin-left: 80%;
}

.wplay {
    background-color: rgb(247, 143, 7);
    width: 25%;
    margin-left: 80%;
}

.trx {
    background-color: red;
    width: 25%;
    margin-left: 80%;
}

.moversaldos {
    overflow: hidden;
    width: 25%;
    margin-left: 80%;
}

.moverUser{
    margin-left: -120px;
    font-size: 15px;
}

.moverfechas {
    margin-left: 23%;
    width: 70%;
}

.planesss {
    display: block;
}

.planess {
    width: 450px;
}

/* plan blue */
.modal-container {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    transition: 0.3s;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.modal {
    width: 40%;
    height: 50%;
    background: rgb(17, 17, 17);
    box-shadow: 0 4px 8px 0 rgb(10, 82, 236);
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    transition: transform 0.8s;
    transform: translateY(0%);
    border-radius: 10px;
    overflow: hidden;

}

.close {
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #b60c0c;
    color: #fff;
    line-height: 25px;
    cursor: pointer;
    border-radius: 50%;
}

.modal-close {
    transform: translateY(-200%);
}

.modal>img {
    height: 60%;
    width: 60%;

}

/* plan green */
.modal-container-plan1 {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.modal-plan1 {
    width: 40%;
    height: 50%;
    background: rgb(17, 17, 17);
    box-shadow: 0 4px 8px 0 rgb(52, 207, 73);
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    transition: transform 0.8s;
    transform: translateY(0%);
    border-radius: 10px;
    overflow: hidden;
}

.close-plan1 {
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #b60c0c;
    color: #fff;
    line-height: 25px;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
}

.modal-close-plan1 {
    transform: translateY(-200%);
}

.modal-plan1>img {
    height: 60%;
    width: 60%;

}

/* plan orange */
.modal-container-plan2 {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.modal-plan2 {
    width: 40%;
    height: 50%;
    background: rgb(17, 17, 17);
    box-shadow: 0 4px 8px 0 rgb(228, 85, 18);
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    transition: transform 0.8s;
    transform: translateY(0%);
    border-radius: 10px;
    overflow: hidden;
}

.close-plan2 {
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #b60c0c;
    color: #fff;
    line-height: 25px;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
}

.modal-close-plan2 {
    transform: translateY(-200%);
}

.modal-plan2>img {
    height: 60%;
    width: 60%;

}

/* plan rosa */
.modal-container-plan3 {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.modal-plan3 {
    width: 40%;
    height: 50%;
    background: rgb(17, 17, 17);
    box-shadow: 0 4px 8px 0 rgb(235, 22, 199);
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    transition: transform 0.8s;
    transform: translateY(0%);
    border-radius: 10px;
    overflow: hidden;
}

.close-plan3 {
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #b60c0c;
    color: #fff;
    line-height: 25px;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
}

.modal-close-plan3 {
    transform: translateY(-200%);
}

.modal-plan3>img {
    height: 60%;
    width: 60%;

}


/* plan rojo */
.modal-container-plan4 {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.modal-plan4 {
    width: 40%;
    height: 50%;
    background: rgb(17, 17, 17);
    box-shadow: 0 4px 8px 0 rgb(235, 22, 22);
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    transition: transform 0.8s;
    transform: translateY(0%);
    border-radius: 10px;
    overflow: hidden;
}

.close-plan4 {
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #b60c0c;
    color: #fff;
    line-height: 25px;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
}

.modal-close-plan4 {
    transform: translateY(-200%);
}

.modal-plan4>img {
    height: 60%;
    width: 60%;

}


/* plan aqua */
.modal-container-plan5 {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.modal-plan5 {
    width: 40%;
    height: 50%;
    background: rgb(17, 17, 17);
    box-shadow: 0 4px 8px 0 rgb(70, 175, 245);
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    transition: transform 0.8s;
    transform: translateY(0%);
    border-radius: 10px;
    overflow: hidden;
}

.close-plan5 {
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #b60c0c;
    color: #fff;
    line-height: 25px;
    cursor: pointer;
    border-radius: 50%;
}

.modal-close-plan5 {
    transform: translateY(-200%);
}

.modal-plan5>img {
    height: 60%;
    width: 60%;

}

/* monto a operar */
.montoOperar{
    text-align: center; 
    border-radius: 20px; height: 30px; 
    color: rgb(250, 249, 249); 
    background: rgb(87, 86, 86); 
    font-size: 20px;
}

.titulos {
    margin-top: 5px;
}

/*
STYLE OF PLANS VIEW
*/

.containerplanes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    flex-wrap: wrap;
    padding: 1%;
}

.cuentaMela{
    display: flex;
    align-items: center;
    margin-left: 25%;
}

.btnCuenta {
    height: 45px;
    width: 40%;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: inherit;
    cursor: pointer;
    border-radius: 25px;
    margin-left: 30%;
    user-select: none;
    background: rgb(3, 9, 90);
    border: none;
    color: var(--text-white);
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-bottom: 10px;
}

.btnComprar {
    height: 30px;
    width: 30%;
    margin-top: 8%;
    margin-right: 4%;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: inherit;
    cursor: pointer;
    border-radius: 25px;
    user-select: none;
    background: rgb(3, 9, 90);
    border: none;
    color: var(--text-white);
    position: static;
    z-index: 1;
    overflow: hidden;
}

.btnsCuenta{
    margin-right: 25%;
}
.btnPublicarCompra{
    height: 45px;
    width: 30%;
    margin-right: 4%;
    margin-top: 3%;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: inherit;
    cursor: pointer;
    border-radius: 25px;
    user-select: none;
    background: rgb(3, 9, 90);
    border: none;
    color: var(--text-white);
    position: static;
    z-index: 1;
    overflow: hidden;
}

.cardsInversionCompras {

    overflow: auto;
    display: block;
    width: 500px ;
    height: 650px;
    padding: 1%;
    margin-left: 27%;
    /* position: relative; */

}


